                                                                                @charset "utf-8";
                                                                            body {
                                                                                line-height: 1;
                                                                                background-image: url("../images/coffee.png");
                                                                                background-size: cover;
                                                                                background-attachment: fixed;
                                                                                background-position: center center;
                                                                                color: azure;
                                                                                margin-right: 10px;
                                                                                margin-left: 10px;
                                                                                animation: fadeIn 2s ease 0s 1 normal;
                                                                            }
                                                                            
                                                                            @keyframes fadeIn {
                                                                                0% {
                                                                                    opacity: 0
                                                                                }
                                                                                100% {
                                                                                    opacity: 1
                                                                                }
                                                                            }
                                                                            
                                                                            .top {
                                                                                width: 100%;
                                                                                text-align: center;
                                                                            }
                                                                            
                                                                            .eyecatch {
                                                                                width: 100%;
                                                                                text-align: center;
                                                                                margin: 20px auto;
                                                                            }
                                                                            
                                                                            .eyecatch img {
                                                                                width: 85%;
                                                                                text-align: left;
                                                                            }
                                                                            
                                                                            .l-main {
                                                                                max-width: 1200px;
                                                                                margin: 0 auto;
                                                                            }
                                                                            
                                                                            .content {
                                                                                text-align: center;
                                                                            }
                                                                            
                                                                            .description {
                                                                                text-align: center;
                                                                                color: #1a1b1b;
                                                                                max-width: 924px;
                                                                                width: 80%;
                                                                                margin: 40px auto;
                                                                                font-size: 28px;
                                                                                line-height: 2.5;
                                                                                border: solid 3px #575653;
                                                                                opacity: 0;
                                                                                transform: translate(0, 50px);
                                                                                transition: all 1500ms;
                                                                            }
                                                                            
                                                                            .description.scrollin {
                                                                                opacity: 1;
                                                                                transform: translate(0, 0);
                                                                            }
                                                                            
                                                                            .title {
                                                                                text-align: center;
                                                                                margin: 70px;
                                                                                font-size: 40px;
                                                                                line-height: 1.5;
                                                                                opacity: 0;
                                                                                transform: translate(0, 50px);
                                                                                transition: all 1500ms;
                                                                            }
                                                                            
                                                                            .title.scrollin {
                                                                                opacity: 1;
                                                                                transform: translate(0, 0);
                                                                            }
                                                                            
                                                                            .link_about {
                                                                                text-decoration: none;
                                                                                text-align: center;
                                                                                color: white;
                                                                                background-color: rgb(216, 212, 212);
                                                                                border: double 5px #1a1b1b;
                                                                                padding: 20px;
                                                                                margin: 10px;
                                                                            }
                                                                            
                                                                            .link_about:hover {
                                                                                background: #f0ecec;
                                                                                text-decoration: none;
                                                                            }
                                                                            
                                                                            .about {
                                                                                text-align: center;
                                                                                opacity: 0;
                                                                                transform: translate(0, 50px);
                                                                                transition: all 1500ms;
                                                                            }
                                                                            
                                                                            .about.scrollin {
                                                                                opacity: 1;
                                                                                transform: translate(0, 0);
                                                                            }
                                                                            
                                                                            .profile img {
                                                                                width: 75%;
                                                                                margin: 30px;
                                                                            }
                                                                            
                                                                            .form {
                                                                                text-align: center;
                                                                                font-size: 30px;
                                                                                margin: 40px;
                                                                            }
                                                                            
                                                                            .box13 {
                                                                                justify-content: center;
                                                                                padding: 0.5em 1em;
                                                                                margin: 0 auto;
                                                                                color: #FFF;
                                                                                background: #f3b65c;
                                                                                border-bottom: solid 6px #f3b65c;
                                                                                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
                                                                                border-radius: 9px;
                                                                                width: 50%;
                                                                            }
                                                                            
                                                                            .box13 a {
                                                                                text-decoration: none;
                                                                                color: white;